<fieldset>
<legend><%= l(:updates_notifier_label_callback_settings) %></legend>

<p>
  <label><%= l(:updates_notifier_label_callback_url) %></label><%= text_field_tag 'settings[callback_url]', @settings['callback_url'], :size => 70 %>
</p>

</fieldset>